[project]
	description = Exherbo cave wrapper
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Denis Knauf (DenisKnauf)
[access "refs/for/refs/*"]
	read = group user/Denis Knauf (DenisKnauf)
	push = group user/Denis Knauf (DenisKnauf)
	label-Code-Review = -2..+2 group user/Denis Knauf (DenisKnauf)
	label-Verified = -1..+1 group user/Denis Knauf (DenisKnauf)
	rebase = group user/Denis Knauf (DenisKnauf)
	removeReviewer = group user/Denis Knauf (DenisKnauf)
	submit = group user/Denis Knauf (DenisKnauf)
[access "refs/heads/*"]
	read = group user/Denis Knauf (DenisKnauf)
	create = group user/Denis Knauf (DenisKnauf)
	push = +force group user/Denis Knauf (DenisKnauf)
	pushMerge = group user/Denis Knauf (DenisKnauf)
[access "refs/tags/*"]
	push = +force group user/Denis Knauf (DenisKnauf)
	pushTag = group user/Denis Knauf (DenisKnauf)
	pushSignedTag = group user/Denis Knauf (DenisKnauf)
